@font-face {
    font-family:'koodak';
    src:url('../fonts/BKoodakBold.eot');
    src:url('../fonts/BKoodakBold.eot#iefix') format('eot'),url('../fonts/BKoodakBold.woff') format('woff'),url('../fonts/BKoodakBold.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'digital';
    src:url('../fonts/DIGITALDREAM.eot');
    src:url('../fonts/DIGITALDREAM.eot#iefix') format('eot'),url('../fonts/DIGITALDREAM.woff') format('woff'),url('../fonts/DIGITALDREAM.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
body{
    background-image: url("../images/grain.png");
    font-family: koodak, "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
a{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #66afe9;
}
.brand img{
    max-height: 100px;
}
.header-top{
    padding-left: 20px;
    border-top: solid 2px #66afe9;
    background-image: url("../images/light_texture2245.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}
.navbar-top{
    border-top: solid 2px #66afe9;
    height: 50px;
    background-color: #444444;
    width: 100%;
    padding-right: 50px;
}
.navbar-top ul li ul li{
    text-align: right;
}
.call-number{
    position: fixed;
    top: 15px;
    left: 15px;
}
.call-number:hover{
    color: #ffffff;
    text-decoration: none;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: #66afe9;
    color: #ffffff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: #66afe9;
    color: #ffffff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #66afe9;
    color: #ffffff;
}
.navbar-nav > li > a{
    padding-top: 10px;
}
nav{
    border-top: solid 4px #66afe9 !important;
}
.nav i{
    font-size: 18px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: #66afe9;
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.active{
    background-color: #66afe9;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    background-color: #66afe9 !important;
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #66afe9 !important;
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.search{
    margin-top: 5px;
}
.town-choose{
    margin-top: 0 !important;
    font-size: 20px;

}
.town-choose a{
    color: #ffffff;
}
ul.town-choose{
    background-color: #66afe9;

}

.member a{
    margin: 10px;
    display: block;
	min-width: 130px;
	height: 40px;
	background-color: #FFF;
	border-radius: 50px;
}
.member a span{
    border-radius: 50px;
    background-color: #66afe9;
    font-size: 24px;
    padding: 7px;
    color: #ffffff;
	min-width: 40px;
	height:40px;
    text-align: left;
    margin-left: 20px;
}
.member a:hover{
    background-color: #66afe9;
    color: #ffffff;
    text-decoration: none;
}
.member-xs a{
    border-radius: 50%;
    background-color: #66afe9;
    color: #ffffff;
    padding: 5px 10px;
    display: block;
    margin-bottom: 10px;
}
.member-xs a:hover{
    border-radius: 50%;
    background-color: #fff;
    color: #66afe9;
    text-decoration: none;
}
footer{
    border-top: solid 2px #66afe9;

}
.footer-top{
    min-height: 300px;
    background-color: #333;
    padding: 40px;
    color: #fff;
}
.footer-top a{
    color: #eee;
}
.footer-top a:hover{
    color: #000;
    text-decoration: none;
}
.footer-top i{
    font-size: 18px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.footer-top ul li:hover i{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.footer-top ul{
    border-right: dashed 1px #ccc;
}
.footer-top ul:first-line{
    border-right: none !important;
    border-bottom: dashed 2px #ccc;
}
.footer-bottom{
    background-color: #262626;
    text-align: center;
    color: #ccc;
    border-bottom: solid 2px #66afe9;
    padding: 10px;
}
.description{
    padding: 30px 10px;
}
.content{
    padding: 15px;
    margin-bottom: 10px;
    border: solid 1px #ccc;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}
.content:hover{
    border: solid 1px #66afe9;
    box-shadow: 0 0 20px #ccc;
}
.side-bar{
    padding: 60px 30px;
}
.advertise{
    margin-bottom: 10px;
    padding: 10px;
}
.top-content{
    background-color: #ffffff;
    padding: 20px 10px;
}
.off{
    background-color: #dd001a;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
}
.off:hover{
    color: #ffffff;
    text-decoration: none;
}
.time-remain{
    background-color: #080808;
    padding: 20px;
    color: #ffffff;
    border-radius: 25px;
    border: solid 5px #31b0d5;
}
.digital{
    font-family: digital,koodak;
    color: #31b0d5;
    text-shadow: 0 0 5px #31b0d5;
    background-color: #101010;
    box-shadow: inset 0 0 3px #000;
    height: 50px;
}
del{
    color: #cccccc !important;
    font-size: 14px;
    font-weight: normal;
}
.price{
    color: green;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.social-network li{
    display: inline-block;
}
.social{
    width: 64px;
    height: 64px;
    display: block;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.social-s{
    width: 72px;
    height: 72px;
    display: block;
    position: absolute;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.facebook{
    background-image: url("../images/facebook.png");
}
.facebook:hover{
    background-image: url("../images/facebook_c.png");
}
.twitter{
     background-image: url("../images/twitter.png");
 }
.twitter:hover{
    background-image: url("../images/twitter_c.png");
}
.google-plus{
    background-image: url("../images/googleplus.png");
}
.google-plus:hover{
    background-image: url("../images/googleplus_c.png");
}
.rss{
    background-image: url("../images/rss.png");
    left: 0;
    top: -4px;
}
.rss:hover{
    background-image: url("../images/rss_h.png");
}
.pdf{
    background-image: url("../images/pdf.png");
    left: 75px;
    top: -4px;
}
.pdf:hover{
    background-image: url("../images/pdf_h.png");
}
.main-content ul li{
    font-size: 18px;
    line-height: 40px;
}
.form-bg{
	padding:30px;
	/*background-image:url(../images/bg.jpg);*/
	/*text-shadow:0 0 5px #333;*/
	color:#333;
	font-size:13px;
	box-shadow:0 0 10px #333;
	background-color:#FFF;
	}
.dropdown-menu{
	width:800px;
	}
.dropdown-menu li{
	float:right;
	width:150px;
	border-left:dotted 1px #333;
	}
.btn-app{
	background-color:#777;
	}
.btn-app:hover{
	background-color:#555;
	color:#fff !important;
	}

