@font-face {
    font-family:'koodak';
    src:url('../fonts/BKoodakBold.eot');
    src:url('../fonts/BKoodakBold.eot#iefix') format('eot'),url('../fonts/BKoodakBold.woff') format('woff'),url('../fonts/BKoodakBold.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'digital';
    src:url('../fonts/DIGITALDREAM.eot');
    src:url('../fonts/DIGITALDREAM.eot#iefix') format('eot'),url('../fonts/DIGITALDREAM.woff') format('woff'),url('../fonts/DIGITALDREAM.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
body{
    /*background-image: url("../images/grain.png");*/
	/*background:#e9e8e8 none repeat fixed;*/
	  background:#e8eaea none repeat fixed;
    font-family: koodak, "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
a{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #66afe9;
}
.brand img{
    max-height: 100px;
}
.header-top{
    padding-left: 20px;
    border-top: solid 2px #66afe9;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
	background-repeat:no-repeat;
}
.navbar-top{
    border-top: solid 2px #66afe9;
    height: 50px;
    background-color: #444444;
    width: 100%;
    
}
.xs-top{
	height:50px;	
}
.navbar-top ul li ul li{
    text-align: right;
}
.call-number{
    position: fixed;
    top: 15px;
    left: 15px;
}
.call-number:hover{
    color: #ffffff;
    text-decoration: none;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: #66afe9;
    color: #ffffff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: #66afe9;
    color: #ffffff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #66afe9;
    color: #ffffff;
}
.navbar-nav > li > a{
    padding-top: 10px;
}
nav{
    border-top: solid 4px #66afe9 !important;
}
.nav i{
    font-size: 18px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: #66afe9;
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.active{
    background-color: #66afe9;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    background-color: #ffbd66 !important;
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #66afe9 !important;
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.search{
    margin-top: 5px;
}
.search ul{
	padding-left:10px;	
	margin-top: -5px !important;
	font-size:16px;
}
.search a{
    color: #ffffff;
}
.town-choose{
    margin-top: 0 !important;
    font-size: 16px;

}
.town-choose a{
    color: #ffffff;
}
ul.town-choose{
    /*background-color: #66afe9;*/

}

.member a{
    margin: 10px;
    display: block;
	min-width: 130px;
	height: 40px;
	background-color: #FFF;
	border-radius: 50px;
}
.member a span{
    border-radius: 50px;
    background-color: #66afe9;
    font-size: 20px;
    padding: 7px;
    color: #ffffff;
	min-width: 40px;
	height:40px;
    text-align: left;
    margin-left: 20px;
}
.member a:hover{
    background-color: #66afe9;
    color: #ffffff;
    text-decoration: none;
}
.member-xs a{
    border-radius: 50%;
    background-color: #66afe9;
    color: #ffffff;
    padding: 5px 10px;
    display: block;
    margin-bottom: 10px;
}
.member-xs a:hover{
    border-radius: 50%;
    background-color: #fff;
    color: #66afe9;
    text-decoration: none;
}
footer{
    border-top: solid 3px #66afe9;

}
.footer-top{
    min-height: 300px;
    background-color: #333;
    padding: 40px;
    color: #fff;
}
.footer-top a{
    color: #eee;
}
.footer-top a:hover{
    color: #66afe9;
    text-decoration: none;
}
.footer-top i{
    font-size: 18px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
	
}
.footer-top ul li i{
	color:#fff;
	}
.footer-top ul li:hover i{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
	color:#66afe9
}
.footer-top ul{
    border-right: dashed 1px #ccc;
}
.footer-top ul:first-line{
    border-right: none !important;
    border-bottom: dashed 2px #ccc;
}
.footer-bottom{
    background-color: #262626;
    text-align: center;
    color: #ccc;
    border-bottom: solid 2px #66afe9;
    padding: 10px;
}
.description{
    padding: 30px 10px;
}
.content{
    padding: 15px;
    margin-bottom: 40px;
    border: solid 1px #ccc;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
	background-color:#FFF;
	height:330px;
}
@media screen and (max-width:992px){
	.content{
  
	height:380px;
}
	
	}
.content img{
	min-height:200px;
	}
.content:hover{
    border: solid 1px #66afe9;
    box-shadow: 0 0 20px #ccc;
}
.content:hover .content-img{
   background-color:rgba(0, 50, 0, 0.5);
	
}
.content-img:hover .content-img{
	background-color:rgba(0, 50, 0, 0.5);
	}
.content-hover{
	background-color:rgba(0, 50, 0, 0);
	position:absolute;
	bottom:0;
	right:0;
	left:0;
	top:0;
	display:block;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	padding-bottom:40px;
}
.content-hover:hover{
	background-color:rgba(103,175 ,233 , 0.7);
}
.caption{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:40px;
	visibility:hidden;
	font-size:25px;
	text-shadow:0 0 3px #000;
}
.caption p{
	margin-top:5px;
	text-align:center;
	color:#FFF;
}
.caption a{
	transition:none;
}
.content-img:hover .caption{
	visibility:visible;
}
.side-bar{
    padding: 60px 30px;
}
.advertise{
    margin-bottom: 10px;
    padding: 10px;
}
.top-content{
    background-color: #ffffff;
    padding: 20px 10px;
	margin-top:50px;
}
.off{
    background:url(../images/special-off.png) no-repeat center;
    width:90px;
	height:90px;
    font-size: 30px;
    color: #ffffff;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
	text-shadow:0 0 10px #000;
}
.off:hover{
    color: #ffffff;
    text-decoration: none;
}
.time-remain{
    background-color: #080808;
    padding: 5px 20px 20px 20px;
    color: #ffffff;
    border-radius: 25px;
    border: solid 5px #31b0d5;
}
.digital{
    font-family: digital,koodak;
    color: #31b0d5;
    text-shadow: 0 0 5px #31b0d5;
    background-color: #101010;
    box-shadow: inset 0 0 3px #000;
    height: 50px;
}
del{
    color: #cccccc !important;
    font-size: 14px;
    font-weight: normal;
}
.price{
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
	position:absolute;
	right:20px;
	bottom:47px;
}
.social-network li{
    display: inline-block;
}
.social{
    width: 64px;
    height: 64px;
    display: block;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.social-s{
    width: 72px;
    height: 72px;
    display: block;
    position: absolute;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.facebook{
    background-image: url("../images/facebook.png");
}
.facebook:hover{
    background-image: url("../images/facebook_c.png");
}
.twitter{
     background-image: url("../images/twitter.png");
 }
.twitter:hover{
    background-image: url("../images/twitter_c.png");
}
.google-plus{
    background-image: url("../images/googleplus.png");
}
.google-plus:hover{
    background-image: url("../images/googleplus_c.png");
}
.cloob{
    background-image: url("../images/cloob.png");
}
.cloob:hover{
    background-image: url("../images/cloob_c.png");
}
.rss{
    background-image: url("../images/rss1.png");
    left: 0;
    top: -4px;
}
.rss:hover{
    background-image: url("../images/rss_h1.png");
}
.pdf{
    background-image: url("../images/pdf1.png");
    left: 75px;
    top: -4px;
}
.pdf:hover{
    background-image: url("../images/pdf_h1.png");
}
.main-content ul li{
    font-size: 18px;
    line-height: 40px;

}
.main-content h2{
	padding-right:15px;
	margin-bottom:3px;
	}
.main-content hr{
	border-bottom:1px solid white;
	border-top:1px solid #d9d9d9;
	margin-top:0;
	padding:0 15px 0 15px;
	
	}

hr-design{
	border-bottom:1px solid white;
	border-top:1px solid #d9d9d9;
	margin-top:0;
	padding:0 15px 0 15px;
	}
.form-bg{
	padding:30px;
	/*background-image:url(../images/bg.jpg);*/
	/*text-shadow:0 0 5px #333;*/
	color:#333;
	font-size:13px;
	border:1px solid #CCC;
	background-color:#FFF;
	}
.radio strong{
	margin-left:10%;
	}
.dropdown-menu{
	width:800px;
	}
.dropdown-menu li{
	float:right;
	width:150px;
	border-left:dotted 1px #333;
	}
.btn-app{
	background-color:#777;
	}
.btn-app:hover{
	background-color:#555;
	color:#fff !important;
	}
.modal-body{
	font-size:18px;
	}
.comment-part{
	padding:10px;
	}
.comment-main{
	margin-bottom:20px;
	font-size:18px;
	}
.comment-reply{
	margin-top:10px;
	margin-bottom:10px;
	padding-right:50px;
	background-color:#eee;
	border:solid 1px #66afe9;
	}
.user-detail{
	color: #66afe9;
	}
.comment-date{
	font-size:10px;
	}
.user-comment{
	background-color:#FFF;
	padding:10px
	}
.user-comment textarea{
	resize:none;
	margin-bottom:10px;
	}
.new-comment{
	margin-top:20px;
	padding:15px;
	}
.new-comment textarea{
	resize:none;
	margin-bottom:10px;
	}
.centers{
	font-size:18px;
	}
.centers i{
	font-size:20px;
	}
.content-tag{
	position:absolute;
	top:-5px;
	left:10px;
	z-index:1000;
	}
.off-tag{
	position:absolute;
	bottom:50px;
	right:0px;
	}
.special-offer{
	position:absolute;
	right:-29px;
	top:-39px;
	
	}
.modal-header{
	background-color:#66afe9;
	}
