/* jssor slider bullet navigator skin 13 css */
/*
.jssorb13 div           (normal)
.jssorb13 div:hover     (normal mouseover)
.jssorb13 .av           (active)
.jssorb13 .av:hover     (active mouseover)
.jssorb13 .dn           (mousedown)
*/
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
    background: url(../images/b13.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb13 div {
    background-position: -5px -5px;
}

.jssorb13 div:hover, .jssorb13 .av:hover {
    background-position: -35px -5px;
}

.jssorb13 .av {
    background-position: -65px -5px;
}

.jssorb13 .dn, .jssorb13 .dn:hover {
    background-position: -95px -5px;
}